 @keyframes fadeAndScale {
    0% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }
    70% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
 }
 .animation1 {
     font-size: 50px; 
    transform: translateY(-50px);
    animation-name: fadeAndScale;
    animation-duration: 0.3s;
    color:FFFFFF; 
    text-align: center;
    align-items: center;
  }
  .animation2 {
    animation-name: fadeAndScale;
    animation-duration: 0.1s;
    text-align: center;
    align-items: center;  
  }
  @keyframes New 
  {
    0% 
    {
      opacity: 0;
    }
    10%
    {
      opacity: 0.1;
    }
    20%
    {
      opacity: 0.2;
    }
    30%
    {
      opacity: 0.3;
    }
    40%
    {
      opacity: 0.4;
    }
    50%
    {
      opacity: 0.5;
    }
    60%
    {
      opacity: 0.6;
    }
    70%
    {
      opacity: 0.7;
    }
    80%
    {
      opacity: 0.8;
    }
    90%
    {
      opacity: 0.9;
    }
    100%
    {
      opacity: 1;
    }
  }
  .test {
    animation-name: New;
    animation-duration: 0.3s;
    background-color:#262626;
    border:1px dotted black; 
    width: 300px; 
    height: 570px;
    transform: translateX(-510px);
  }
  .test2
  {
    animation-name: New;
    animation-duration: 0.3s;
    background-color:#262626;
    border:1px dotted black; 
    width: 300px; 
    height: 570px;
    transform: translateX(-510px);
  }
  .menu_img 
  {
    padding-left: 1300px;
  }

  .container1 {
    display: inline-block;
    cursor: pointer;
  
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .button
  {
    background-color: white;
    
  }
  .button2
  {
    background-color: white;
    transform: translateX(650px);
  }
  .close
  {
    color: white;
    background-color: #262626;
  }
  .aboutme
  {
    animation-name: fadeAndScale;
    animation-duration: 0.2s;
    font-size: 80px;
    color : #D3D3D3;
    text-align: center;
    align-items: center;
  }
  .aboutmepara
  {
    animation-name: fadeAndScale;
    animation-duration: 0.4s;
    color: white; 
    font-size: 30px;
    text-align: center;
    align-items: center;
  }
  
  
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
nav
{
  flex: 1;
  text-align: right;
}
 
.list1
{
 list-style: none;
 display: inline-block;
 margin-right: 30px;
}
.a {
 text-decoration: none;
 color: #FFFF;
 font-size: 14px;

}
a:hover
{
  color: red;
}
.video1
{
  transform: translateX(120px);
  width:"320px" ;  
  height:"180px" ; 
}
.video2
{
  transform: translateX(140px);
  width:"320px" ;  
  height:"180px" ; 
}
.video3
{
  transform: translateX(160px);
  width:"320px" ;  
  height:"180px" ; 
}


@media only screen and (max-width: 700px){
  .test
  {
    animation-name: New;
    animation-duration: 0.3s;
    background-color:#262626;
    border:1px dotted black; 
    width: 300px; 
    height: 570px;
    transform: translateX(-20px);
  }
  .aboutme
  {
    font-size: 50px;
  }
  .aboutmepara
  {
    font-size: 20px;
  }
  .button2
  {
    background-color: white;
    transform: translateX(10px);
  }
  .video1
  {
    transform: translate(30px);
    width:"320px" ;  
    height:"180px" ; 
    margin-top: 20px;
  }
  .video2
  {
    transform: translate(30px);
    width:"320px" ;  
    height:"180px" ; 
    margin-top: 20px;
  }
  .video3
  {
    transform: translate(30px);
    width:"320px" ;  
    height:"180px" ; 
    margin-top: 20px;
  }
  
}




